<div class='auth-cover'>
  <div class='auth-cover__logo'></div>

  <h1 class='auth-cover__title'>Purrfect Chat</h1>

  <p class='auth-cover__description'>Connect with friends in the most adorable way.</p>
  <p class='auth-cover__description'>Chat, share and stay close with people who matter most.</p>

  <ul class='auth-cover__list'>
    <li class='auth-cover__list-item'>Instant messaging</li>
    <li class='auth-cover__list-item'>Group chats</li>
    <li class='auth-cover__list-item'>Share moments</li>
  </ul>

</div>