
 <main class='auth'>
  {{> AuthCover }}

  <div class='auth__form-cover'>
    <div class='auth__form-container'>
      <h2 class='auth__form-title'>Welcome back!</h2>

      <p class='auth__form-subtitle'>Sign in to continue chatting</p>

      <form id='sign-up-form' class='auth__form'>
        {{> Input name='first_name' id='sign-up-first-name' type='text' placeholder='Name' label='First name'}}
        {{> Input name='second_name' id='sign-up-last-name' type='text' placeholder='Last name' label='Last Name'}}
        {{> Input name='email' id='sign-up-email' type='email' placeholder='your@email.com' label='Email'}}
        {{> Input name='phone' id='sign-up-phone' type='tel' placeholder='+79999999999' label='Phone'}}
        {{> Input name='login' id='sign-up-login' type='text' placeholder='your_login' label='Login'}}
        {{> Input name='password' id='sign-up-password' type='password' placeholder='password'label='Password'}}
        {{> Input name='repeat_password' id='sign-up-repeat-password' type='password' placeholder='password' label='Confirm password'}}

        {{> Button type='submit' text='Create account' fullwidth=true }}
      </form>

      <p class='auth__form-subtext'>Already have an account? 
        <a id='link-to-sign-in' href='{{link}}'>Sign in</a>
      </p>
    </div>
  </div>
</main>
