{{! страница со всеми роутами для удобства навигации на первом спринте, будет удалена после ревью }}

<div
  style='height: 100vh; width: 100vw; display: flex; gap: 1rem; flex-direction: column; align-items: center; justify-content: center;'
>
  <p>Все страницы:</p>

  <nav>
    <ul>
      <li><a href='#' id='signUpPage'>sign up page</a></li>
      <li><a href='#' id='signInPage'>sign in page</a></li>
      <li><a href='#' id='chatsPage'>chats page</a></li>
      <li><a href='#' id='profilePage'>profile page</a></li>
      <li><a href='#' id='notFoundPage'>404 error page</a></li>
      <li><a href='#' id='serverErrorPage'>5xx error page</a></li>
    </ul>
  </nav>

  <p>Для возврата на эту страницу просто нажмите F5</p>
</div>