.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 3rem;
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--pink-light);
  border-radius: 50%;
  box-sizing: border-box;
  background: linear-gradient(to bottom right, var(--orange), var(--pink));
}

.avatar__letter {
  font-size: var(--font-size-xl);
  color: var(--primary-foreground);
}
