<main class='not-found'>
  {{> ErrorScreen errorCode='404' title='Oops! Page not found' subtitle="Looks like this page wandered off somewhere! Don't worry, even curious cats get lost sometimes. Let's get you back home." imgSrc='/icons/cat-weary.svg' animationImgSrc='/icons/question-mark.svg' }}
  {{> Button id='go-to-home' type='button' text='Back to home' class='not-found__button' iconSrc='/icons/home.svg'}}
</main>